~$eseñas.docx
Critica latex.pdf
Critica latex.synctex.gz
Critica latex.tex
demo_Jorge.xlsx
demo_Sasha.xlsx
demo_Will_llermo.xlsx
Formatos.txt
Sintaxis - Guillermo.xlsx
Sintaxis - Sasha.xlsx
Sintaxis - Will_llermo.xlsx
